@use "open-color/open-color" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 2rem;

  input {
    font: inherit;
    font-size: 3rem;
    font-weight: bold;
    border: 2px solid $oc-gray-6;
    background: none;
    border-radius: 0.5rem;
    padding: 0 0.5rem 1rem;
    text-align: center;

    &:focus {
      outline: none;
    }
  }
}
